.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 1rem;

    div {
        margin: 0 1rem 0.5rem 1rem;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 550px) {
    .container div {
        font-size: 0.9rem;
    }
}