.info_label {
    font-weight: bolder;
}
.container {
    margin: 2rem;
}
.image_container {
    background-color: rgb(235, 230, 236);
    width: 450px;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    font-size: 2.5rem;
}

.sub_title {
    text-align: center;
    margin-top: -1rem;
    font-size: 1.25rem;
}

.population {
    text-align: center;
    font-size: 1rem;
    background-color: rgb(235, 230, 236);
    width: 400px;
    margin: 0 auto;
    padding: 0.5rem;
}

.stats_container {
    display: flex;
    justify-content: center;
    margin-bottom: -3.5rem;
}

.stats {
    font-size: 0.9rem; 
    margin: 0 2rem;
}

.stats_daily {
    font-size: 0.9rem;
}